<h1>Oh hi nathan</h1>
<p>make this cooler</p>

<p>doing my best okay</p>

<% photos = "mike" %>

<% if photos == "mike" %>
<a href="https://lh3.googleusercontent.com/x8MV-O5PUOjEqAbC6nvNoN7sjnG06ZFkZ1RZdxTBZTZjyMxMhVPZJ2pOtraRTd2___TWhEm7N2422r9m39bS5FGk1GvNfFAoO_-jI5aZ1q1mOfZWlj2iUHNdE69rv4u9dIO7lKCzVNI=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/x8MV-O5PUOjEqAbC6nvNoN7sjnG06ZFkZ1RZdxTBZTZjyMxMhVPZJ2pOtraRTd2___TWhEm7N2422r9m39bS5FGk1GvNfFAoO_-jI5aZ1q1mOfZWlj2iUHNdE69rv4u9dIO7lKCzVNI=w600-h515-p-k" /> </a>

<a href="https://lh3.googleusercontent.com/hNB3HKOixCmLsoX57jYgUyUerxUd2ktW6-iiIKydQvLuWNUD0lnSaq6mKcUL5p5doi6JTDRysapcYCui8KwKDcwAdmr3DN09LuevYxVpNs7msd6tf5SXU7HOKLjy1kTpRxIzs-aT_Wk=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/hNB3HKOixCmLsoX57jYgUyUerxUd2ktW6-iiIKydQvLuWNUD0lnSaq6mKcUL5p5doi6JTDRysapcYCui8KwKDcwAdmr3DN09LuevYxVpNs7msd6tf5SXU7HOKLjy1kTpRxIzs-aT_Wk=w600-h465-p-k" /> </a>
<% end %>

<a href="https://lh3.googleusercontent.com/ygCz4oQFsGl0vPKr0A2B_WRLMHG68lKtChH3GYu3ucJ2rEPplhtBNPPZUrjins0oUK81-V5Cj9fI-X77pgXHrYwhC_5bDwnVgkc8JWF1UmIlrYoGz2FXXYiTGDD_EXVtCTtC3dK7Sok=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/ygCz4oQFsGl0vPKr0A2B_WRLMHG68lKtChH3GYu3ucJ2rEPplhtBNPPZUrjins0oUK81-V5Cj9fI-X77pgXHrYwhC_5bDwnVgkc8JWF1UmIlrYoGz2FXXYiTGDD_EXVtCTtC3dK7Sok=w600-h465-p-k" /> </a>

<a href="https://lh3.googleusercontent.com/tcxEs8wE4RvsASbG4JlTaHhmoHcer_yVQbvTfdOsVKGNpDyC6C9L2p5fdZa2xZ2zjsmfV53XjcbUSZQAMQP8EAPSdIU_Fesu7GB3w6AcIAG-1dLVG32RkOLofc-N3xe-DLAbN32VkYc=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/tcxEs8wE4RvsASbG4JlTaHhmoHcer_yVQbvTfdOsVKGNpDyC6C9L2p5fdZa2xZ2zjsmfV53XjcbUSZQAMQP8EAPSdIU_Fesu7GB3w6AcIAG-1dLVG32RkOLofc-N3xe-DLAbN32VkYc=w600-h465-p-k" /> </a>